.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-not-logged {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.profile-icon {
  width: 30vh;
  height: 30vh;
}

.footerLogo {
  width: 5vh;
  height: 5vh;
  border-radius: 1vh;
  margin-top: 2vh;
  margin-right: 2vh;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40vh;
  height: 25vh;
  width: 200vh;
}
